# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sbn
from collections import Counter

# set this so the graphs open internally
%matplotlib inline

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
raw_data_1 = {
        'evolution': ['lvysaur','charmeleon', 'wartortle', 'metepod'],
        'hp': ['45', '39', '44', '45'],
        'name': ['bulbasaur', 'charmander', 'squirtle', 'catwrpie'], 
        'pokedex': ['yes', 'no', 'yes', 'no'],
        'type': ['grass', 'fire', 'water', 'bug']}

### Step 3. Assign it to a variable called pokemon

In [3]:
pokemon= pd.DataFrame(raw_data_1)

In [4]:
pokemon

    evolution  hp        name pokedex   type
0     lvysaur  45   bulbasaur     yes  grass
1  charmeleon  39  charmander      no   fire
2   wartortle  44    squirtle     yes  water
3     metepod  45    catwrpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [5]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]

In [6]:
pokemon

         name   type  hp   evolution pokedex
0   bulbasaur  grass  45     lvysaur     yes
1  charmander   fire  39  charmeleon      no
2    squirtle  water  44   wartortle     yes
3    catwrpie    bug  45     metepod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [7]:
pokemon['place']=['newyork','india','canada','uk']

C:\Users\Smit\AppData\Local\Temp\ipykernel_22752\2883852122.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon['place']=['newyork','india','canada','uk']

In [9]:
pokemon

         name   type  hp   evolution pokedex    place
0   bulbasaur  grass  45     lvysaur     yes  newyork
1  charmander   fire  39  charmeleon      no    india
2    squirtle  water  44   wartortle     yes   canada
3    catwrpie    bug  45     metepod      no       uk

### Step 6. Present the type of each column

In [10]:
pokemon.dtypes

name         object
type         object
hp           object
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.