# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt
import os
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [2]:
iris=pd.read_csv("iris.data")

In [3]:
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

### Step 4. Create columns for the dataset

In [ ]:
iris.rename(columns = {'5.1':'sepal_length','3.5':'sepal_width','1.4':'petal_length','05':'petal_width','0.2':'petal_width', 'iris-setosa':'class'}, 
            inplace = True)

In [ ]:
iris.head()

In [ ]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

### Step 5.  Is there any missing value in the dataframe?

In [ ]:
iris.isna().sum()

# no any values are missing

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [ ]:
iris['petal_length'][10:30] = np.nan

In [ ]:
iris.head(30)

### Step 7. Good, now lets substitute the NaN values to 1.0

In [ ]:
iris=iris.replace(np.nan, 1.0)

In [ ]:
iris.head(30)

### Step 8. Now let's delete the column class

In [ ]:
iris = iris.drop(columns = 'Iris-setosa')

In [ ]:
iris

### Step 9.  Set the first 3 rows as NaN

In [ ]:
iris.iloc[:3] = np.nan

In [ ]:
iris

### Step 10.  Delete the rows that have NaN

In [ ]:
iris = iris.dropna()

In [ ]:
iris

### Step 11. Reset the index so it begins with 0 again

In [ ]:
iris.reset_index(drop = True, inplace = True)

In [ ]:
iris

### BONUS: Create your own question and answer it.